.orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders__items {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #7c3aed;
}

.span__color {
  color: #4c1d95;
}

.span__order_id {
  border: 2px solid #5b21b6;
  color: #5b21b6;
  padding: 0 10px;
}

.span__order_id:hover {
  background: #5b21b6;
  color: white;
}

.orders__products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.orders__products-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #7c3aed;
  color: #7c3aed;
}
